* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  color: inherit;
  background-color: transparent;
  text-decoration-line: none;
}

.container {
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
}

.navicontainer {
  width: 100%;
  text-align: center;
  border-radius: 4px;
  display: table;
  white-space: normal;
  overflow:hidden;
}

.storeTitle {
  float: left;
  font-size: 30px;
  margin: 10px 0;
  padding: 0 8px;
  /*background-color: #323da0!important;
  color: #FFFF;*/
  border: 5px solid #323da0;
  color: #000;
  display: block;
  text-align: center;
  white-space: nowrap;

  width : 200px;
  height : 50px;
  border-radius: 50%;
}

.navi {
  padding: 8px 16px;
  float: right;
  width: auto;
  border: none;
  font-size: 15px;
  white-space: nowrap;
  text-align: center;
  outline: 0;
  display: inline-block;
  overflow: hidden;
}

/*header*/
.header img {

  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
}

.headerContent {
  position: absolute;
  top: 60%;
  left: 10%;
  padding: 12px 24px;
  transform: translate(0%, -50%);
}

.header h1 {
  font-size: 4rem;
}

.header p {
  
}

@media(max-width: 600px) {
  #header-des {display: none}
}

.reserveButton {
  color: #000;
  /*background-color: #ffffcc;*/
  background-color: #FFFF;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  white-space: nowrap;
  padding: 12px 24px;
}

.reserveButton:hover {
  background-color: #ccc;
}